<div class="media">
   <p class="pull-right"><small>5 days ago</small></p>
   <a class="media-left" href="#">
    <img src="http://lorempixel.com/40/40/people/1/">
  </a>
  <div class="media-body">
    
    <h4 class="media-heading user_name">Baltej Singh</h4>
    Wow! this is really great.
    
    <p><small><a href="">Like</a> - <a href="">Share</a></small></p>
  </div>
</div>